.menu {
  width: 100%;
  background: rgb(238, 238, 238);
  color: rgb(149, 154, 171);
  padding: 10px 0;
  overflow: hidden;
  margin-bottom: 0;
  a {
    :link {
      color: rgb(149, 154, 171)
    }
    :visited {
      color: rgb(149, 154, 171)
    }
    :hover {
      color: #000
    }
    :active {
      color: rgb(149, 154, 171)
    }
  }
  li {
    list-style: none;
    float: left;
    padding: 0 5px;
    margin-left: 20px;
  }
}